.main-container {
  display: grid;
  padding: 3rem 0 7rem 0;
}

.hero-name-container {
  text-transform: uppercase;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}

.hero-race-container {
  text-transform: capitalize;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
  margin: 0.5rem 50rem 1rem 50rem;
  color: rgb(255, 255, 255);
  background-color: rgb(67, 67, 67);
  border-radius: 2rem;
  min-width: 300px;
}

@media (min-width: 640px) {
  .hero-race-container {
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .hero-race-container {
    max-width: 900px;
  }
}

.detail-container {
  display: grid;
  padding: 2rem 0 0.5rem 0;
}

@media (min-width: 640px) {
  .detail-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1280px) {
  .detail-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.appearance-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem;

  list-style: none;
  font-size: large;
}

.full-name {
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0 1.25rem;
}

@media (min-width: 640px) {
  .image-container {
    max-width: 700px;
  }
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;

  transform: perspective(1000px) rotateY(-35deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;
  padding-right: 8rem;
  max-width: 572px;
}

.stats-container:hover {
  transform: perspective(3000px) rotateY(0deg);
}

.appearance-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 8rem;
  max-width: 572px;
  padding-bottom: 2 rem;

  transform: perspective(1000px) rotateY(35deg);
  border-radius: 1rem;
  transition: transform 1s ease 0s;
}

.appearance-container:hover {
  transform: perspective(3000px) rotateY(0deg);
}

.stats-list {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  list-style: none;
  font-size: large;
}
