@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

$fontSans: "Montserrat", sans-serif;

$red: #2d67be;
$redAL: rgba(93, 134, 224, 0.815);
$dark: #3d3d3d;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
* {
  box-sizing: border-box;
}

.wrap {
  width: 50%;
  margin: 0 auto;
}
h1 {
  font-family: $fontSans;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 0.1em 0;
  margin-bottom: 0;

  letter-spacing: 3px;
  text-transform: uppercase;
}
h2 {
  font-family: $fontSans;
  font-size: 1.25em;
}

h3 {
  font-family: $fontSans;
  font-size: 0.8rem;
}

h4 {
  font-family: $fontSans;
  font-size: 0.6rem;
}
ol {
  li {
    line-height: 2;
    font-weight: bold;
    font-family: $fontSans;
    font-size: 1.25em;
    text-transform: uppercase;
    clear: both;
  }
}
.bar {
  background: $red;
  width: 0;
  margin: 0.25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background 0.2s;
  clear: both;
  &:nth-of-type(2n) {
    background: lighten($red, 10%);
  }
  .label {
    font-size: 0.75em;
    padding: 1em;
    background: $dark;
    width: 8em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family: $fontSans;
    &.light {
      background: lighten($dark, 10%);
    }
  }
}
.count {
  position: absolute;
  right: 0.25em;
  top: 0.75em;
  padding: 0.15em;
  font-size: 0.75em;
  font-weight: bold;
  font-family: $fontSans;
}
