.hero-card {
  padding: 0;
  color: white;
  margin: 1.25rem 0.25rem;
}

.hero-card:hover {
  cursor: pointer;
  box-shadow: #1e90ff 0px 54px 55px, #1e90ff 0px -12px 30px, #1e90ff 0px 4px 6px,
    #1e90ff 0px 12px 13px, #1e90ff 0px -3px 5px;
  transform: scale(1.1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
  color: black;
}

.hero-detail-container {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-name-container {
  color: black;
  font-size: xx-large;
}
