// Declaring Variables
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap";

$font-weight: (
  "thin": 200,
  "regular": 400,
  "bold": 600,
  "heavy": 900,
);

$primary-color: #ffffff;
$secondary-color: #5785e0;
$menu-btn-color: #1b262c;

// Body Stlying
* {
  margin: 0;
}

.body {
  margin: 0;
}

// Navigation Bar Styling
.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.nav-middle ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-middle ul li {
  width: 140px;
  display: inline-block;
  color: $menu-btn-color;
  font-weight: map-get($font-weight, bold);
  font-family: "Poppins";
  text-transform: uppercase;
  cursor: pointer;
}

.nav-middle ul li::after {
  content: "";
  background-color: $secondary-color;
}

.nav-middle ul li:hover {
  color: $secondary-color;
  cursor: pointer;
}

// Tile Card Styling
.heroTile_img {
  display: inline-flex;
  flex-direction: row;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 4px;
}

.heroTile_name {
  max-width: 200px;
  text-align: center;
  margin: 12px 0px;
}

.display-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

// About Styling
.about-container {
  padding: 0 40px;
}

.about-content {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-header p {
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 600;
  border-bottom: 2px solid $secondary-color;
  transform: rotateZ(270deg);
  text-transform: uppercase;
}

.about-content img {
  width: 580px;
}

.about-content-middle {
  font-family: "Poppins";
  width: 40%;
}

.about-content-middle h4 {
  font-weight: 600;
  font-size: 20px;
}

// Footer Styling
footer {
  width: 100%;
  background-color: $secondary-color;
}

.footer-container {
  padding: 40px 60px;
  position: relative;
  display: flex;
  justify-content: space-around;
  min-height: 16vh;
}

.social-media ul li {
  display: inline;
  font-size: 28px;
  color: $primary-color;
  padding: 0 10px 0 0;
}

.about-desc p,
.page-directory p,
.contact-details p,
.social-media p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: map-get($font-weight, bold);
  text-transform: uppercase;
  color: $primary-color;
}

.about-desc ul,
.page-directory ul,
.contact-details ul,
.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-desc ul li,
.page-directory ul li,
.contact-details ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  color: $primary-color;
}

.about-desc ul li:hover,
.page-directory ul li:hover,
.contact-details ul li:hover,
.social-media ul li:hover {
  color: $menu-btn-color;
  cursor: pointer;
}

.copyright-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.copyright-content p {
  font-family: "Poppins";
  font-size: 16px;
  color: $primary-color;
}
