// Declaring Variables
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap";

@mixin mediumMobile() {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin smallMobile() {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$font-weight: (
  "thin": 200,
  "regular": 400,
  "bold": 600,
  "heavy": 900,
);

$primary-color: #ffffff;
$secondary-color: #5785e0;
$menu-btn-color: #1b262c;

// Body Stlying
* {
  margin: 0;
}

.body {
  margin: 0;
}

// Navigation Bar Styling
.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  @include mediumMobile() {
    padding: 20px;
    height: 200px;
    flex-direction: column;
  }
}

.nav-middle ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  @include mediumMobile() {
    flex-direction: column;
  }
}

.nav-middle ul li {
  width: 140px;
  display: inline-block;
  color: $menu-btn-color;
  font-weight: map-get($font-weight, bold);
  font-family: "Poppins";
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
  @include mediumMobile() {
    margin: 10px 0 0 0;
  }
}

.nav-middle ul li::after {
  content: "";
  background-color: $secondary-color;
  width: 80%;
  height: 130%;
  border-radius: 40px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.nav-middle ul li:hover {
  color: $primary-color;
  cursor: pointer;
}

.nav-middle ul li:hover::after {
  top: 50%;
  opacity: 1;
}

// Home Styling
.home-container {
  position: relative;
  height: 180vh;
  background: linear-gradient(#000028, #602d3a);
  @include mediumMobile() {
    height: 120vh;
  }
}

.animation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.animation img#stars {
  padding-top: 20px;
}

.animation img#city {
  padding-top: 20px;
}

.animation img#men {
  width: 340px;
  padding-top: 1240px;
  @include mediumMobile() {
    width: 240px;
    padding-top: 700px;
    margin-left: -600px;
  }
}

.animation img#women {
  width: 340px;
  margin-left: -800px;
  padding-top: 1240px;
  @include mediumMobile() {
    width: 240px;
    margin-left: -600px;
    padding-top: 700px;
  }
}

.scroll-down {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  padding-top: 380px;
  text-align: center;
  @include mediumMobile() {
    padding-top: 180px;
  }
}

.scroll-down h3 {
  font-family: "Poppins";
  font-weight: 650;
  font-size: 64px;
  color: $primary-color;
  padding: 10px 300px;
  @include mediumMobile() {
    font-size: 30px;
    padding: unset;
  }
}

.scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 40px;
  height: 70px;
  border: 3px solid $primary-color;
  border-radius: 32px;
  margin-bottom: 10px;
  display: flex;
  @include mediumMobile() {
    width: 20px;
    height: 40px;
    border: 3px solid $primary-color;
    margin-bottom: unset;
  }
}

.mouse span {
  width: 16px;
  height: 16px;
  background-color: $primary-color;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: wheel-animation 0.75s linear infinite;
  @include mediumMobile() {
    width: 10px;
    height: 10px;
  }
}

.arrow span {
  display: block;
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-right-color: $primary-color;
  border-bottom-color: $primary-color;
  transform: rotate(45deg);
  animation: arrow-animation 0.5s alternate infinite;
}

@keyframes wheel-animation {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.landing-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  padding: 1210px 60px 0;
  text-align: center;
  @include mediumMobile() {
    position: absolute;
    padding: 640px 0 0;
    text-align: center;
  }
}

.landing-content h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 46px;
  color: $primary-color;
  padding: 10px 300px;
  @include mediumMobile() {
    font-size: 30px;
    padding: 20px 60px;
  }
}

.landing-content p {
  font-family: "Poppins";
  color: $primary-color;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 420px 50px;
  @include mediumMobile() {
    font-size: 16px;
    padding: 20px 80px;
  }
}

.landing-content button {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: $primary-color;
  width: 300px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: rgb(255, 53, 53);
  cursor: pointer;
  @include mediumMobile() {
    font-size: 14px;
    width: 280px;
    height: 50px;
    margin-top: 20px;
  }
}

.landing-content button:hover {
  transform: scale(1.2);
  background-color: rgb(255, 213, 0);
  color: $menu-btn-color;
}

// Forum Styling
.forum-content {
  min-height: 100vh;
}

.form h4 {
  font-size: 52px;
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  padding: 80px 0;
  @include mediumMobile() {
    font-size: 40px;
    padding: 60px 0;
  }
}

.form form {
  width: 100%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
  text-align: center;
  @include mediumMobile() {
    max-width: 340px;
  }
}

.form input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: "Poppins";
  @include mediumMobile() {
    height: 30px;
  }
}

.form button {
  margin: 40px 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  width: 220px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: rgb(255, 53, 53);
  cursor: pointer;
}

.form button:hover {
  transform: scale(1.1);
  background-color: rgb(255, 213, 0);
  color: $menu-btn-color;
}

// About Styling
.about-container {
  padding: 0 40px;
  @include mediumMobile() {
    padding: 20px;
  }
}

.about-content {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include mediumMobile() {
    height: unset;
    flex-direction: column;
  }
}

.about-header p {
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 600;
  border-bottom: 3px solid $secondary-color;
  border-radius: 6px;
  transform: rotateZ(270deg);
  text-transform: uppercase;
  @include mediumMobile() {
    transform: unset;
    font-size: 36px;
  }
}

.about-content img {
  width: 580px;
  @include mediumMobile() {
    width: 460px;
    padding: 10px;
  }
}

.about-content-middle {
  width: 40%;
  @include mediumMobile() {
    width: 70%;
  }
}

.about-content-middle h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  @include mediumMobile() {
    font-size: 18px;
  }
}

.about-content-middle p {
  font-family: "Poppins";
  @include mediumMobile() {
    font-size: 14px;
    padding: 0 0 20px;
  }
}

// Footer Styling
footer {
  width: 100%;
  background-color: $secondary-color;
}

.footer-container {
  padding: 40px 60px;
  position: relative;
  display: flex;
  justify-content: space-around;
  min-height: 15vh;
  @include mediumMobile() {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

.social-media ul li {
  display: inline;
  font-size: 28px;
  color: $primary-color;
  padding: 0 10px 0 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $menu-btn-color;
}

.about-desc p,
.page-directory p,
.contact-details p,
.social-media p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: map-get($font-weight, bold);
  text-transform: uppercase;
  color: $primary-color;
}

.about-desc ul,
.page-directory ul,
.contact-details ul,
.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-desc ul li,
.page-directory ul li,
.contact-details ul li {
  list-style: none;
  font-size: 16px;
  font-family: "Poppins";
  color: $primary-color;
}

.about-desc ul li:hover,
.page-directory ul li:hover,
.contact-details ul li:hover,
.social-media ul li:hover {
  color: $menu-btn-color;
  cursor: pointer;
}

.copyright-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.copyright-content p {
  font-family: "Poppins";
  font-size: 16px;
  color: $primary-color;
}

// Scrollbar Styling
::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $menu-btn-color;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f24c4c;
}
